<a href="https://colab.research.google.com/github/tharangag/Pyspark/blob/main/DS_Sales_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This demonstrates how to use PySpark to read external data and to create relational data frames
# Dataset Path and Tables
# /content/GS Sales Data 2022.xlsx
# Sheet Names
# 1> GS Sales Data
# 2> Daily Target

In [1]:
# Install and Configure PySpark on Colab
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 58.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=9315182d6e4b33e6d6ac04c85bdede53382283bcd048cf062dfe13ca5594596c
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
# Load Library
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import to_date, col
# Build Spark Session
spark = SparkSession.builder.appName('DS Internship Task1').getOrCreate()

In [3]:
# Read Data from Dataset i.e. Excel file : Sheet "GS Sales Data"
GS_Sales_Pdf = pd.read_excel('/content/GS Sales Data 2022.xlsx',sheet_name='GS Sales Data', index_col=0,
                             na_values='#N/A')
# Display top 5 record loaded into Pandas DF
GS_Sales_Pdf.head()

,Order ID,Order Date,Order_Week,Ship Date,Ship_Week,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,...,Regional Manager,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Returned
Row ID,,,,,,,,,,,,,,,,,,,,,
1,US-2019-103800,2019-01-03,2019-1,2019-01-07,2019-2,Standard Class,DP-13000,Darren Powers,Consumer,United States,...,Roxanne Rodriguez,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512,NaN
2,US-2019-112326,2019-01-04,2019-1,2019-01-08,2019-2,Standard Class,PO-19195,Phillina Ober,Home Office,United States,...,Roxanne Rodriguez,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870,NaN
3,US-2019-112326,2019-01-04,2019-1,2019-01-08,2019-2,Standard Class,PO-19195,Phillina Ober,Home Office,United States,...,Roxanne Rodriguez,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717,NaN
4,US-2019-112326,2019-01-04,2019-1,2019-01-08,2019-2,Standard Class,PO-19195,Phillina Ober,Home Office,United States,...,Roxanne Rodriguez,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748,NaN
5,US-2019-141817,2019-01-05,2019-1,2019-01-12,2019-2,Standard Class,MB-18085,Mick Brown,Consumer,United States,...,Chuck Magee,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840,NaN

In [4]:
# Cast field data types on pandas DF to String due to some fields contain "#N/A" values to avoid data type conversion errors in spark
GS_Sales_Pdf[['State/Province', 'Country/Region','Regional Manager','Customer Name','Returned','Category']] = GS_Sales_Pdf[['State/Province', 'Country/Region','Regional Manager','Customer Name','Returned','Category']].astype(str)

In [5]:
# Create Spark Dataframe
GS_Sales = spark.createDataFrame(GS_Sales_Pdf)

# View first 20 rows in spark dataframe 
GS_Sales.show()

+--------------+-------------------+----------+-------------------+---------+--------------+-----------+----------------+-----------+--------------+------------+--------------+-----------+-------+-----------------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+--------+
|      Order ID|         Order Date|Order_Week|          Ship Date|Ship_Week|     Ship Mode|Customer ID|   Customer Name|    Segment|Country/Region|        City|State/Province|Postal Code| Region| Regional Manager|     Product ID|       Category|Sub-Category|        Product Name|             Sales|Quantity|Discount|             Profit|Returned|
+--------------+-------------------+----------+-------------------+---------+--------------+-----------+----------------+-----------+--------------+------------+--------------+-----------+-------+-----------------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+--------+
|US-2019-103800|2019-01-03 00:00:00|    2019-1|2019-01-07 00:00:00|   2019-2|Standard Class|   DP-13000|   Darren Powers|   Consumer| United States|     Houston|         Texas|      77095|Central|Roxanne Rodriguez|OFF-PA-10000174|Office Supplies|       Paper|Message Book, Wir...|            16.448|       2|     0.2|  5.551199999999998|     nan|
|US-2019-112326|2019-01-04 00:00:00|    2019-1|2019-01-08 00:00:00|   2019-2|Standard Class|   PO-19195|   Phillina Ober|Home Office| United States|  Naperville|      Illinois|      60540|Central|Roxanne Rodriguez|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...| 3.539999999999999|       2|     0.8|             -5.487|     nan|
|US-2019-112326|2019-01-04 00:00:00|    2019-1|2019-01-08 00:00:00|   2019-2|Standard Class|   PO-19195|   Phillina Ober|Home Office| United States|  Naperville|           nan|      60540|Central|Roxanne Rodriguez|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508|            11.784|       3|     0.2|  4.271699999999999|     nan|
|US-2019-112326|2019-01-04 00:00:00|    2019-1|2019-01-08 00:00:00|   2019-2|Standard Class|   PO-19195|   Phillina Ober|Home Office| United States|  Naperville|      Illinois|      60540|Central|Roxanne Rodriguez|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|           272.736|       3|     0.2| -64.77480000000001|     nan|
|US-2019-141817|2019-01-05 00:00:00|    2019-1|2019-01-12 00:00:00|   2019-2|Standard Class|   MB-18085|      Mick Brown|   Consumer| United States|Philadelphia|  Pennsylvania|      19143|   East|      Chuck Magee|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...|            19.536|       3|     0.2|              4.884|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|   Maria Etezadi|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|           2573.82|       9|     0.0|  746.4077999999997|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|   Maria Etezadi|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|              5.48|       2|     0.0| 1.4796000000000005|     nan|
|US-2019-106054|2019-01-06 00:00:00|    2019-2|2019-01-07 00:00:00|   2019-2|   First Class|   JO-15145|   Jack O'Briant|  Corporate| United States|      Athens|       Georgia|      30605|  South|              nan|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|             12.78|       3|     0.0|             5.2398|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|   Maria Etezadi|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...|            609.98|       2|     0.0|            274.491|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|   Maria Etezadi|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|             31.12|       4|     0.0| 0.3111999999999995|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|             nan|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|              6.54|       1|     0.0|             3.0084|     nan|
|US-2019-130813|2019-01-06 00:00:00|    2019-2|2019-01-08 00:00:00|   2019-2|  Second Class|   LS-17230|Lycoris Saunders|   Consumer| United States| Los Angeles|    California|      90049|   West|  Sadie Pawthorne|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|             19.44|       3|     0.0|             9.3312|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|   Maria Etezadi|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...|            755.96|       4|     0.0|           204.1092|     nan|
|US-2019-167199|2019-01-06 00:00:00|    2019-2|2019-01-10 00:00:00|   2019-2|Standard Class|   ME-17320|   Maria Etezadi|Home Office| United States|   Henderson|      Kentucky|      42420|  South|      Fred Suzuki|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4|            391.98|       2|     0.0| 113.67419999999998|     nan|
|US-2019-105417|2019-01-07 00:00:00|    2019-2|2019-01-12 00:00:00|   2019-2|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer| United States|  Huntsville|         Texas|      77340|Central|Roxanne Rodriguez|FUR-FU-10004864|      Furniture| Furnishings|Howard Miller 14-...| 76.72800000000001|       3|     0.6| -53.70959999999999|     nan|
|US-2019-105417|2019-01-07 00:00:00|    2019-2|2019-01-12 00:00:00|   2019-2|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer| United States|  Huntsville|         Texas|      77340|Central|Roxanne Rodriguez|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|10.429999999999998|       7|     0.8|-18.252500000000005|     nan|
|US-2019-135405|2019-01-09 00:00:00|    2019-2|2019-01-13 00:00:00|   2019-3|Standard Class|   MS-17830|   Melanie Seite|   Consumer| United States|      Laredo|         Texas|      78041|Central|Roxanne Rodriguez|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|             9.344|       2|     0.2| 1.1679999999999997|     nan|
|US-2019-135405|2019-01-09 00:00:00|    2019-2|2019-01-13 00:00:00|   2019-3|Standard Class|   MS-17830|   Melanie Seite|   Consumer| United States|      Laredo|         Texas|      78041|Central|Roxanne Rodriguez|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|31.200000000000003|       3|     0.2|  9.749999999999996|     nan|
|US-2019-149020|2019-01-10 00:00:00|    2019-2|2019-01-15 00:00:00|   2019-3|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate| United States| Springfield|      Virginia|      22153|  South|      Fred Suzuki|FUR-FU-10000965|      Furniture| Furnishings|Howard Miller 11-...|             51.94|       1|     0.0|            21.2954|     nan|
|US-2019-149020|2019-01-10 00:00:00|    2019-2|2019-01-15 00:00:00|   2019-3|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate| United States| Springfield|      Virginia|      22153|  South|      Fred Suzuki|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|              2.89|       1|     0.0|             1.3583|     nan|
+--------------+-------------------+----------+-------------------+---------+--------------+-----------+----------------+-----------+--------------+------------+--------------+-----------+-------+-----------------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+--------+
only showing top 20 rows

In [6]:
# View spark Data Frame Schema
GS_Sales.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Order Date: timestamp (nullable = true)
 |-- Order_Week: string (nullable = true)
 |-- Ship Date: timestamp (nullable = true)
 |-- Ship_Week: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country/Region: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State/Province: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Regional Manager: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)
 |-- Returned: string (nullable = true)

In [7]:
# Create New Spark Dataframe and Transform Column Headings and Data Types

GS_Sales_finalDF = (GS_Sales.withColumn("order_id", GS_Sales["Order ID"]).drop("Order ID")
              .withColumn("order_date", to_date(col("Order Date"), "mm/dd/yyyy")).drop("Order Date")
              .withColumn("order_week_no", GS_Sales["Order_Week"]).drop("Order_Week")
              .withColumn("ship_date", to_date(col("Ship Date"), "mm/dd/yyyy")).drop("Ship Date")
              .withColumn("ship_week_no", GS_Sales["Ship_Week"]).drop("Ship_Week")
              .withColumn("ship_mode", GS_Sales["Ship Mode"]).drop("Ship Mode")
              .withColumn("customer_id", GS_Sales["Customer ID"]).drop("Customer ID")
              .withColumn("customer_name", GS_Sales["Customer Name"]).drop("Customer Name")
              .withColumn("customer_segment", GS_Sales["Segment"]).drop("Segment")
              .withColumn("country_region", GS_Sales["Country/Region"]).drop("Country/Region")
              .withColumn("customer_city", GS_Sales["City"]).drop("City")
              .withColumn("state_province", GS_Sales["State/Province"]).drop("State/Province")
              .withColumn("postal_code", GS_Sales["Postal Code"]).drop("Postal Code")
              .withColumn("customer_region", GS_Sales["Region"]).drop("Region")
              .withColumn("regional_manager", GS_Sales["Regional Manager"]).drop("Regional Manager")
              .withColumn("product_id", GS_Sales["Product ID"]).drop("Product ID")
              .withColumn("product_category", GS_Sales["Category"]).drop("Category")
              .withColumn("sub_category", GS_Sales["Sub-Category"]).drop("Sub-Category")
              .withColumn("product_name", GS_Sales["Product Name"]).drop("Product Name")
              .withColumn("sales_revenue", GS_Sales["Sales"].cast('float')).drop("Sales")
              .withColumn("sales_quantity", GS_Sales["Quantity"].cast("float")).drop("Quantity")
              .withColumn("discount_amount", GS_Sales["Discount"].cast('float')).drop("Discount")
              .withColumn("sales_profit", GS_Sales["Profit"].cast('float')).drop("Profit")
              .drop("Returned")
              .distinct()
            ) 

GS_Sales_finalDF.show(10)

+--------------+----------+-------------+----------+------------+--------------+-----------+----------------+----------------+--------------+-------------+--------------+-----------+---------------+-----------------+---------------+----------------+------------+--------------------+-------------+--------------+---------------+------------+
|      order_id|order_date|order_week_no| ship_date|ship_week_no|     ship_mode|customer_id|   customer_name|customer_segment|country_region|customer_city|state_province|postal_code|customer_region| regional_manager|     product_id|product_category|sub_category|        product_name|sales_revenue|sales_quantity|discount_amount|sales_profit|
+--------------+----------+-------------+----------+------------+--------------+-----------+----------------+----------------+--------------+-------------+--------------+-----------+---------------+-----------------+---------------+----------------+------------+--------------------+-------------+--------------+---------------+------------+
|US-2019-135405|2019-01-09|       2019-2|2019-01-13|      2019-3|Standard Class|   MS-17830|   Melanie Seite|        Consumer| United States|       Laredo|         Texas|      78041|        Central|Roxanne Rodriguez|TEC-AC-10001266|      Technology| Accessories|Memorex Micro Tra...|         31.2|           3.0|            0.2|        9.75|
|US-2019-154599|2019-04-12|      2019-15|2019-04-17|     2019-16|Standard Class|   KN-16450|     Kean Nguyen|       Corporate| United States|Redondo Beach|    California|      90278|           West|  Sadie Pawthorne|FUR-BO-10001337|       Furniture|   Bookcases|O'Sullivan Living...|      308.499|           3.0|           0.15|     -18.147|
|US-2019-155208|2019-04-16|      2019-16|2019-04-20|     2019-16|Standard Class|   SP-20650|Stephanie Phelps|       Corporate| United States|   Wilmington|North Carolina|      28403|          South|      Fred Suzuki|OFF-AR-10003478| Office Supplies|         Art|Avery Hi-Liter Ev...|       39.072|           6.0|            0.2|       9.768|
|US-2019-166086|2019-05-07|      2019-19|2019-05-12|     2019-20|Standard Class|   CT-11995|    Carol Triggs|        Consumer| United States|     Lawrence| Massachusetts|      01841|           East|      Chuck Magee|OFF-AR-10002578| Office Supplies|         Art|          Newell 335|         8.64|           3.0|            0.0|      2.5056|
|US-2019-143840|2019-05-22|      2019-21|2019-05-29|     2019-22|Standard Class|   EH-14185|      Evan Henry|        Consumer| United States|      Decatur|       Alabama|      35601|          South|      Fred Suzuki|TEC-PH-10002660|      Technology|      Phones|Nortel Networks T...|       135.98|           2.0|            0.0|      33.995|
|US-2019-114643|2019-06-13|      2019-24|2019-06-17|     2019-25|Standard Class|   FM-14215|   Filia McAdams|       Corporate| United States|  Los Angeles|    California|      90032|           West|  Sadie Pawthorne|OFF-AR-10003631| Office Supplies|         Art|Staples in misc. ...|        14.52|           3.0|            0.0|      4.7916|
|US-2019-161508|2019-07-12|      2019-28|2019-07-16|     2019-29|Standard Class|   PV-18985|   Paul Van Hugh|     Home Office| United States|  League City|         Texas|      77573|        Central|Roxanne Rodriguez|OFF-AR-10003158| Office Supplies|         Art|Fluorescent Highl...|       22.288|           7.0|            0.2|      3.9004|
|US-2019-117968|2019-08-05|      2019-32|2019-08-07|     2019-32|  Second Class|   RS-19420| Ricardo Sperren|       Corporate| United States|      Meriden|   Connecticut|      06450|           East|      Chuck Magee|OFF-AP-10002765| Office Supplies|  Appliances|Fellowes Advanced...|        79.47|           3.0|            0.0|     22.2516|
|US-2019-122931|2019-09-29|      2019-40|2019-10-03|     2019-40|Standard Class|   SM-20950|  Suzanne McNair|       Corporate| United States| Philadelphia|  Pennsylvania|      19134|           East|      Chuck Magee|OFF-ST-10004459| Office Supplies|     Storage|Tennsco Single-Ti...|     1801.632|           6.0|            0.2|    -337.806|
|US-2019-146969|2019-09-29|      2019-40|2019-10-03|     2019-40|Standard Class|   AP-10915|  Arthur Prichep|        Consumer| United States|  Los Angeles|    California|      90045|           West|  Sadie Pawthorne|TEC-MA-10004241|      Technology|    Machines|Star Micronics TS...|       686.32|           2.0|            0.2|     223.054|
+--------------+----------+-------------+----------+------------+--------------+-----------+----------------+----------------+--------------+-------------+--------------+-----------+---------------+-----------------+---------------+----------------+------------+--------------------+-------------+--------------+---------------+------------+
only showing top 10 rows

In [8]:
GS_Sales_finalDF.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_week_no: string (nullable = true)
 |-- ship_date: date (nullable = true)
 |-- ship_week_no: string (nullable = true)
 |-- ship_mode: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- customer_segment: string (nullable = true)
 |-- country_region: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- state_province: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- customer_region: string (nullable = true)
 |-- regional_manager: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- sub_category: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- sales_revenue: float (nullable = true)
 |-- sales_quantity: float (nullable = true)
 |-- discount_amount: float (nullable = true)
 |-- sales_profit: float (nullable = true)

In [9]:
# Create spark SQL Select query to retrieve customer data as a DataFrame from a temporary table view
GS_Sales_finalDF.createOrReplaceTempView("sales")

DimCustomer_sqlDF = spark.sql("SELECT customer_id,	customer_name FROM sales")
DimCustomer_sqlDF.show()

+-----------+-------------------+
|customer_id|      customer_name|
+-----------+-------------------+
|   MS-17830|      Melanie Seite|
|   KN-16450|        Kean Nguyen|
|   SP-20650|   Stephanie Phelps|
|   CT-11995|       Carol Triggs|
|   EH-14185|         Evan Henry|
|   FM-14215|      Filia McAdams|
|   PV-18985|      Paul Van Hugh|
|   RS-19420|    Ricardo Sperren|
|   SM-20950|     Suzanne McNair|
|   AP-10915|     Arthur Prichep|
|   CM-12715|     Craig Molinari|
|   ST-20530|           Shui Tom|
|   ON-18715|      Odella Nelson|
|   CB-12025|  Cassandra Brandow|
|   VD-21670|  Valerie Dominguez|
|   AB-10105|      Adrian Barton|
|   PJ-18835|      Patrick Jones|
|   AG-10300|Aleksandra Gannaway|
|   CA-11965|        Carol Adams|
|   KM-16720|       Kunst Miller|
+-----------+-------------------+
only showing top 20 rows

In [10]:
# Create spark SQL query to create a Dim Table as a DataFrame from Transformed Data Frame

DimCustomer_DF=spark.sql("SELECT DISTINCT customer_id as CustomerIDSk,	customer_name as CustomerName,  postal_code as AddressKey FROM sales")

# Print Schema of DIM Table/DataFrame
DimCustomer_DF.printSchema()

# Display top 20 Records
DimCustomer_DF.show()

root
 |-- CustomerIDSk: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- AddressKey: string (nullable = true)

+------------+----------------+----------+
|CustomerIDSk|    CustomerName|AddressKey|
+------------+----------------+----------+
|    JD-15895|Jonathan Doherty|     19140|
|    RB-19465|    Rick Bensley|     74133|
|    RR-19525|       Rick Reed|     01852|
|    ON-18715|   Odella Nelson|     85281|
|    SB-20290|    Sean Braxton|     77036|
|    KM-16660|    Khloe Miller|     95123|
|    KL-16555|   Kelly Lampkin|     80906|
|    GA-14725|   Guy Armstrong|     19120|
|    VW-21775| Victoria Wilson|     44256|
|    CS-12250| Chris Selesnick|     55125|
|    KB-16315|      Karl Braun|     11520|
|    SR-20740|   Steven Roelle|     10024|
|    GZ-14470|   Gary Zandusky|     87124|
|    AG-10900|   Arthur Gainer|     19134|
|    TS-21160|   Theresa Swint|     17403|
|    AY-10555|      Andy Yotov|     90049|
|    SP-20650|Stephanie Phelps|     28403|
|    CL-11890|     Carl Ludwig|     60623|
|    PM-18940|  Paul MacIntyre|     77590|
|    MF-18250|  Monica Federle|     90036|
+------------+----------------+----------+
only showing top 20 rows

In [11]:
# Create spark SQL query to create a Fact Table as a DataFrame from Transformed Data Frame

FactOrders_DF=spark.sql("SELECT DISTINCT order_id as OrderID,	order_date as OrderDate,  ship_date as ShipDate, ship_week_no as ShipWeek, ship_mode as ShipMode, customer_id as CustomerIDKey, product_id as ProductIDKey, sales_revenue as Sales, sales_quantity as Quantity, discount_amount as Discount, sales_profit as Profit FROM sales")

# Print Schema of DIM Table/DataFrame
FactOrders_DF.printSchema()

# Display top 20 Records
FactOrders_DF.show()

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- ShipWeek: string (nullable = true)
 |-- ShipMode: string (nullable = true)
 |-- CustomerIDKey: string (nullable = true)
 |-- ProductIDKey: string (nullable = true)
 |-- Sales: float (nullable = true)
 |-- Quantity: float (nullable = true)
 |-- Discount: float (nullable = true)
 |-- Profit: float (nullable = true)

+--------------+----------+----------+--------+--------------+-------------+---------------+-------+--------+--------+--------+
|       OrderID| OrderDate|  ShipDate|ShipWeek|      ShipMode|CustomerIDKey|   ProductIDKey|  Sales|Quantity|Discount|  Profit|
+--------------+----------+----------+--------+--------------+-------------+---------------+-------+--------+--------+--------+
|US-2019-162775|2019-01-13|2019-01-15|  2019-3|  Second Class|     CS-12250|OFF-ST-10000025| 572.58|     6.0|     0.0| 34.3548|
|US-2019-163223|2019-03-21|2019-03-25| 2019-13|Standard Class|     KH-16690|OFF-LA-10004409|   14.4|     5.0|     0.0|   6.624|
|US-2019-126361|2019-08-04|2019-08-09| 2019-32|  Second Class|     VD-21670|OFF-AR-10000896|   16.4|     5.0|     0.0|   4.264|
|US-2019-153927|2019-08-12|2019-08-13| 2019-33|   First Class|     LL-16840|OFF-BI-10000138|  14.04|     3.0|     0.0|  6.7392|
|US-2019-163650|2019-09-23|2019-09-25| 2019-39|   First Class|     TT-21220|OFF-AR-10002375|   9.84|     3.0|     0.0|  2.8536|
|US-2019-120313|2019-10-31|2019-11-02| 2019-44|  Second Class|     NL-18310|TEC-PH-10003092| 73.584|     2.0|     0.2|  8.2782|
|US-2019-144666|2019-11-09|2019-11-11| 2019-46|  Second Class|     JP-15520|FUR-BO-10001601|222.666|     2.0|    0.15| 10.4784|
|US-2019-123183|2019-11-19|2019-11-25| 2019-48|Standard Class|     GR-14560|OFF-BI-10002429| 213.08|     7.0|     0.0|102.2784|
|US-2019-109932|2019-12-09|2019-12-11| 2019-50|   First Class|     VP-21760|OFF-PA-10001804| 10.688|     2.0|     0.2|  3.7408|
|US-2020-117884|2020-03-22|2020-03-22| 2020-13|      Same Day|     DC-13285|TEC-AC-10002567|447.944|     7.0|     0.2| 89.5888|
|US-2020-101868|2020-06-09|2020-06-16| 2020-25|Standard Class|     MJ-17740|OFF-BI-10003876|   64.2|     5.0|     0.7|   -42.8|
|US-2020-168186|2020-09-10|2020-09-15| 2020-38|Standard Class|     AB-10150|OFF-PA-10000477|  14.94|     3.0|     0.0|  7.0218|
|US-2020-126977|2020-09-17|2020-09-23| 2020-39|Standard Class|     PF-19120|FUR-CH-10001973|199.764|     2.0|     0.1|  8.8784|
|US-2020-118444|2020-11-05|2020-11-09| 2020-46|Standard Class|     VD-21670|OFF-AP-10000576|387.136|     4.0|     0.2|  24.196|
|US-2020-164441|2020-11-08|2020-11-13| 2020-46|Standard Class|     AC-10450|OFF-BI-10001922| 52.272|    11.0|     0.2| 17.6418|
|US-2020-163090|2020-11-17|2020-11-21| 2020-47|  Second Class|     GH-14665|OFF-SU-10002537|  40.92|     5.0|     0.2|   3.069|
|US-2020-159499|2020-11-21|2020-11-23| 2020-48|  Second Class|     EM-14095|TEC-AC-10002718| 23.344|     2.0|     0.2|  -1.459|
|US-2021-162082|2021-03-14|2021-03-17| 2021-12|   First Class|     JS-15880|OFF-PA-10001934|  5.184|     1.0|     0.2|  1.8792|
|US-2021-131737|2021-03-17|2021-03-17| 2021-12|      Same Day|     GZ-14470|OFF-EN-10003055|  199.9|     5.0|     0.0|  89.955|
|US-2021-120929|2021-03-18|2021-03-21| 2021-13|  Second Class|     RO-19780|FUR-TA-10001857|189.882|     3.0|     0.4| -94.941|
+--------------+----------+----------+--------+--------------+-------------+---------------+-------+--------+--------+--------+
only showing top 20 rows